<div class="card">
  <div class="card-content">
    <div class="row">
      <span class="pull-right">
        <button class="btn btn-simple btn-icon remove" matTooltip="Edit" [matTooltipPosition]="'left'" (click)="edit()" style="margin: 0; padding: 0">
          <i class="mdi mdi-pencil" style="font-size: 20px"></i>
        </button>
        <button class="btn btn-simple btn-icon remove" matTooltip="Delete" [matTooltipPosition]="'left'" (click)="delete()" style="margin: 0; padding: 0">
          <i class="mdi mdi-delete-empty" style="font-size: 20px"></i>
        </button>
      </span>
    </div>
    <div class="row">
      <label class="col-sm-5 label-on-left"><span class="text-info">{{ question.title }}</span></label>
      <div class="col-sm-10 checkbox-radios">
        <div *ngFor="let option of question.questionItems">
          <div class="radio" *ngIf="option.item != 'Others'">
            <label>
              <input type="radio" name="optionsRadios">{{ option.item }}
            </label>
          </div>
          <div class="radio" *ngIf="option.item == 'Others'">
              <label>
                <input type="radio" name="optionsRadios">
                <input type="text" placeholder="Others">
              </label>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>