<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card wizard-card">
          <form [formGroup]="userForm">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">mail_outline</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">{{formTitle}}</h4>
              <div class="col-md-4">
                <div class="picture-container">
                  <div class="picture">
                    <img src="../../assets/img/default-avatar.png" class="picture-src" id="photoPreview" title="" />
                    <input type="file" id="photo-picture">
                  </div>
                  <h6>Choose Picture</h6>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group label-floating" [ngClass]="displayFieldCss(userForm, 'username')">
                  <label class="control-label" for="name">Username:
                    <span class="star">*</span>
                  </label>
                  <input type="text" id="name" class="form-control" formControlName="username" [readOnly]="editMode()">
                  <app-field-error-display [displayError]="isFieldValid(userForm, 'username')" errorMsg="username is required.">
                  </app-field-error-display>
                </div>
                <div class="form-group label-floating" [ngClass]="displayFieldCss(userForm, 'fullname')">
                  <label class="control-label" for="fullname">Full Name:
                    <span class="star">*</span>
                  </label>
                  <input type="text" id="fullname" class="form-control" formControlName="fullname">
                  <app-field-error-display [displayError]="isFieldValid(userForm, 'fullname')" errorMsg="Full name is required.">
                  </app-field-error-display>
                </div>
                <div class="form-group label-floating" [ngClass]="displayFieldCss(userForm, 'email')">
                  <label class="control-label" for="email">Email:
                    <span class="star">*</span>
                  </label>
                  <input type="text" id="email" class="form-control" formControlName="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                  <app-field-error-display [displayError]="isFieldValid(userForm, 'email')" errorMsg="Email is required and format should be john@doe.com.">
                  </app-field-error-display>
                </div>
                <div class="form-group label-floating" [ngClass]="displayFieldCss(userForm, 'roleId')">
                  <label class="control-label" for="role">Role for user:
                    <span class="star">*</span>
                  </label>
                  <mat-form-field>
                    <mat-select name="role" formControlName="roleId" id="role">
                      <mat-option *ngFor="let role of roles" [value]="role.roleId">
                        {{ role.roleName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <app-field-error-display [displayError]="isFieldValid(userForm, 'roleId')" errorMsg="Role is required">
                  </app-field-error-display>
                </div>
                <div>
                  <span class="star">*</span> Required fields</div>
                <div class="form-footer text-right">
                  <!--
                        <div class="checkbox pull-left">
                          <label>
                            <input type="checkbox" name="optionsCheckboxes" formControlName="optionsCheckboxes"> Subscribe to newsletter
                          </label>
                        </div>
                        -->
                  <div class="form-group">
                    <button type="submit" class="btn btn-rose btn-fill btn-wd" (click)="onSave()">Save User</button>
                    <button type="button" class="btn btn-rose btn-fill btn-wd" (click)="onCancel()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>