<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="purple">
            <i class="material-icons">assignment</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Application User List</h4>
            <div class="toolbar">
              <button class="btn btn-primary" (click)="newUser()">New Application User</button>
            </div>
            <div class="material-datatables table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" 
                class="table table-striped table-no-bordered table-hover">
                <thead>
                  <tr>
                    <th style="display: none">{{ headerRow[0] }}</th>
                    <th>{{ headerRow[1] }}</th>
                    <th>{{ headerRow[2] }}</th>
                    <th>{{ headerRow[3] }}</th>
                    <th>{{ headerRow[4] }}</th>
                    <th>{{ headerRow[5] }}</th>
                    <th>{{ headerRow[6] }}</th>
                    <th>{{ headerRow[7] }}</th>
                    <th class="text-right">{{ headerRow[8] }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of applicationUsers">
                    <td style="display: none">{{ user.userId }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.fullname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role.roleName }}</td>
                    <td *ngIf="user.enable">Active</td>
                    <td *ngIf="!user.enable">Inactive</td>
                    <td *ngIf="!user.locked">Unlocked</td>
                    <td *ngIf="user.locked">Locked</td>
                    <td>{{ user.lastLogin | date:'short' }}</td>
                    <td class="text-right">
                      <button class="btn btn-simple btn-danger btn-icon remove"  matTooltip="Edit" [matTooltipPosition]="'left'" (click)="onEdit(user.userId)">
                        <i class="mdi mdi-account-edit" style="font-size: 20px"></i>
                      </button>
                      <button class="btn btn-simple btn-danger btn-icon remove"  matTooltip="Remove" [matTooltipPosition]="'left'" (click)="onDelete(user.userId)">
                        <i class="mdi mdi-delete-empty" style="font-size: 20px"></i>
                      </button>
                      <button *ngIf="user.enable" class="btn btn-simple btn-danger btn-icon remove"  matTooltip="Deactivate User" [matTooltipPosition]="'left'" (click)="onDeactivate(user.userId)">
                        <i class="mdi mdi-account-off" style="font-size: 20px"></i>
                      </button>
                      <button *ngIf="!user.enable" class="btn btn-simple btn-success btn-icon remove"  matTooltip="Activate User" [matTooltipPosition]="'left'" (click)="onActivate(user.userId)">
                        <i class="mdi mdi-account-check" style="font-size: 20px"></i>
                      </button>
                      <button *ngIf="!user.locked" class="btn btn-simple btn-danger btn-icon remove"  matTooltip="Lock User" [matTooltipPosition]="'left'" (click)="onLock(user.userId)">
                        <i class="material-icons">lock</i>
                      </button>
                      <button *ngIf="user.locked" class="btn btn-simple btn-success btn-icon remove"  matTooltip="Unlock User" [matTooltipPosition]="'left'" (click)="onUnlock(user.userId)">
                        <i class="material-icons">lock_open</i>
                      </button>
                      <button class="btn btn-simple btn-success btn-icon remove"  matTooltip="Reset Password" [matTooltipPosition]="'left'" (click)="onResetPassword(user.userId)">
                        <i class="mdi mdi-account-key" style="font-size: 20px"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>                    
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>
