<div class="card">
  <div class="card-content">
    <div class="row">
      <div class="form-group">
        <label class="control-label">Pertanyaan:
          <span class="star">*</span>
        </label>
        <input type="text" class="form-control" [(ngModel)]="question.title" required>
      </div>
    </div>
    <div class="row" *ngFor="let options of question.questionItems; let i = index; trackBy:trackByIndex">
      <div class="col-md-6">
        <div class="input-group">
          <div class="input-group-addon">
              <i class="material-icons">check_box_outline_blank</i>
          </div>
          <input type="text" class="form-control" [placeholder]="placeholders(i)" 
            [disabled]="isOthers(options.item)" required [(ngModel)]="options.item">
          <div class="input-group-addon">
            <button class="btn btn-simple btn-danger btn-icon remove" (click)="onDeleteOptions(i)">
              <i class="mdi mdi-delete-empty" style="font-size: 20px"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group" style="margin-left: 30px">
        <button type="button" class="btn btn-rose btn-fill btn-wd btn-sm" (click)="onAddOptions()">
          <i class="material-icons">add</i>Options
        </button>
        <button type="button" class="btn btn-rose btn-fill btn-wd btn-sm" (click)="onAddOthers()">
          <i class="material-icons">add</i>Others
        </button>
      </div>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="requiredCB" [(ngModel)]="question.required"> Field Required
      </label>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-rose btn-fill btn-wd btn-sm" (click)="save()">Save</button>
      <button type="button" class="btn btn-rose btn-fill btn-wd btn-sm" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>