<h1 mat-dialog-title>Add Assignments</h1>
<mat-dialog-content>
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="purple">
              <i class="material-icons">portrait</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Daftar Pengguna</h4>
              <div *ngIf="noSelectedMessage">
                <p class="text-danger text-center"><strong>{{ noSelectedMessage }}</strong></p>
              </div>
              <div class="material-datatables table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-no-bordered table-hover">
                  <thead>
                    <tr>
                      <th>
                        
                      </th>
                      <th style="display: none">{{ headerRow[1] }}</th>
                      <th>{{ headerRow[2] }}</th>
                      <th>{{ headerRow[3] }}</th>
                      <th>{{ headerRow[4] }}</th>
                      <th>{{ headerRow[5] }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users; let i = index" [class.selected]="i == selectedRow">
                      <td class="align-middle">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" (change)="onRowSelected(user, rowCheckbox)" [checked]="user.selected" #rowCheckbox>
                          </label>
                        </div>
                      </td>
                      <td style="display: none">{{ user.userId }}</td>
                      <td>{{ user.fullname }}</td>
                      <td>{{ user.email }}</td>
                      <td class="align-middle">
                        <div class="checkbox">
                          <label>
                            <input #dispatchercb type="checkbox" (change)="onDispatcher(dispatchercb, user)" 
                                [disabled]="checkChoice(user)" [checked]="checkDispatcher(user)">
                          </label>
                        </div>
                      </td>
                      <td class="text-center">
                        <div class="checkbox">
                          <label>
                              <input #surveyorcb type="checkbox" (change)="onSurveyor(surveyorcb, user)" 
                                [disabled]="checkChoice(user)" [checked]="checkSurveyor(user)">
                          </label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- end content-->
          </div>
          <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
      </div>
      <!-- end row -->
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onDialogApprove()" class="btn btn-rose btn-fill btn-wd">Tambah</button>
  <button mat-button (click)="onDialogClose()" class="btn btn-rose btn-fill btn-wd">Cancel</button>
</mat-dialog-actions>