<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="purple">
            <i class="material-icons">assignment</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Assignment List</h4>
            <div class="toolbar">
              <button class="btn btn-success" (click)="newSurveyor()">Add Surveyor</button>
              <button class="btn btn-warning" (click)="gotoTasks()">Back to Task</button>
            </div>
            <div class="material-datatables table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" 
                class="table table-striped table-no-bordered table-hover">
                <thead>
                  <tr>
                    <th style="display: none">{{ headerRow[0] }}</th>
                    <th>{{ headerRow[1] }}</th>
                    <th>{{ headerRow[2] }}</th>
                    <th>{{ headerRow[3] }}</th>
                    <th>{{ headerRow[4] }}</th>
                    <th>{{ headerRow[5] }}</th>
                    <th class="text-right">{{ headerRow[6] }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let assignment of assignments">
                    <td style="display: none">{{ assignment.assignmentId }}</td>
                    <td>{{ assignment.user.fullname }}</td>
                    <td>{{ assignment.user.email }}</td>
                    <td>Not yet Implemented</td>
                    <td>{{ assignment.status | Assignstatus }}</td>
                    <td>{{ assignment.createdAt | date:'short' }}</td>
                    <td class="text-right">
                      <button class="btn btn-simple btn-danger btn-icon remove"  matTooltip="Remove" [matTooltipPosition]="'left'" (click)="onDelete(assignment.assignmentId)">
                        <i class="mdi mdi-delete-empty" style="font-size: 20px"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>                    
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>
