<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card wizard-card">
          <form [formGroup]="questionForm">
            <div class="card-content">
              <div>
                <span class="pull-right">
                  <button class="btn btn-simple btn-info btn-icon remove" matTooltip="Assignment members" [matTooltipPosition]="'left'" (click)="onAssignment(task.taskId)">
                    <i class="mdi mdi-delete-empty" style="font-size: 24px"></i>
                  </button>
                </span>
              </div>
              <div class="form-group label-floating" [ngClass]="displayFieldCss(questionForm, 'type')">
                <label class="control-label" for="type">Field Type:
                  <span class="star">*</span>
                </label>
                <mat-form-field>
                  <mat-select name="type" formControlName="type" id="type" [placeholder]="currentPlaceholder()">
                    <mat-option *ngFor="let type of typeOfQuestions" [value]="type">
                      {{ type }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <app-field-error-display [displayError]="isFieldValid(questionForm, 'type')" errorMsg="Question type is required.">
                </app-field-error-display>
              </div>
              <div class="form-group label-floating" [ngClass]="displayFieldCss(questionForm, 'title')">
                <label class="control-label" for="title">Field Title:
                  <span class="star">*</span>
                </label>
                <input type="text" id="title" class="form-control" formControlName="title">
                <app-field-error-display [displayError]="isFieldValid(questionForm, 'title')" errorMsg="Field title is required">
                </app-field-error-display>
              </div>
              <div class="form-group label-floating" [ngClass]="displayFieldCss(questionForm, 'instruction')">
                <label class="control-label" for="instruction">Field Instruction:
                </label>
                <input type="text" id="instruction" class="form-control" formControlName="instruction">
              </div>
              <div class="row" *ngFor="let options of optionsCb; let i = index">
                <div class="col-md-6">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="material-icons">check_box_outline_blank</i>
                    </div>
                    <input type="text" id="title" class="form-control" [placeholder]="options" [disabled]="isOthers(options)">
                    <div class="input-group-addon">
                      <button class="btn btn-simple btn-danger btn-icon remove" (click)="onDeleteOptions(options)">
                        <i class="mdi mdi-delete-empty" style="font-size: 20px"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group" style="margin-left: 30px">
                  <button type="button" class="btn btn-rose btn-fill btn-wd" (click)="onAddOptions()">Add Options</button>
                  <button type="button" class="btn btn-rose btn-fill btn-wd" (click)="onAddOthers()">Add Others</button>
                </div>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="requiredCB"> Field Required
                </label>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-rose btn-fill btn-wd" (click)="onSave()">Save</button>
                <button type="button" class="btn btn-rose btn-fill btn-wd" (click)="onCancel()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>