<h1 mat-dialog-title>Add Assignments</h1>
<mat-dialog-content>
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="purple">
              <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Surveyor List</h4>
              <div *ngIf="noEmployeePickMessage">
                <p class="text-danger text-center"><strong>{{ noSelectedMessage }}</strong></p>
              </div>
              <div class="material-datatables table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-no-bordered table-hover">
                  <thead>
                    <tr>
                      <th></th>
                      <th style="display: none">{{ headerRow[0] }}</th>
                      <th>{{ headerRow[1] }}</th>
                      <th>{{ headerRow[2] }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users; let i = index" [class.selected]="i == selectedRow">
                      <td><input type="checkbox" (change)="onRowSelected(user, rowCheckbox)" #rowCheckbox></td>
                      <td style="display: none">{{ user.userId }}</td>
                      <td>{{ user.fullname }}</td>
                      <td>{{ user.email }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- end content-->
          </div>
          <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
      </div>
      <!-- end row -->
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onDialogApprove()" class="btn btn-rose btn-fill btn-wd">Pick Surveyor</button>
  <button mat-button (click)="onDialogClose()" class="btn btn-rose btn-fill btn-wd">Cancel</button>
</mat-dialog-actions>