<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="purple">
            <i class="material-icons">assignment</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Task List</h4>
            <div class="toolbar">
              <button class="btn btn-success" (click)="newTask()">New Task</button>
              <button class="btn btn-warning" (click)="gotoProjects()">Back to Project</button>
            </div>
            <div class="material-datatables table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" 
                class="table table-striped table-no-bordered table-hover">
                <thead>
                  <tr>
                    <th style="display: none">{{ headerRow[0] }}</th>
                    <th>{{ headerRow[1] }}</th>
                    <th>{{ headerRow[2] }}</th>
                    <th>{{ headerRow[3] }}</th>
                    <th>{{ headerRow[4] }}</th>
                    <th class="text-right">{{ headerRow[5] }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of tasks">
                    <td style="display: none">{{ task.taskId }}</td>
                    <td>{{ task.taskName }}</td>
                    <td>{{ task.taskDescription }}</td>
                    <td>{{ task.locationName }}</td>
                    <td>{{ task.createdAt | date:'short' }}</td>
                    <td class="text-right">
                      <button class="btn btn-simple btn-info btn-icon remove"  matTooltip="Assignment members" [matTooltipPosition]="'left'" (click)="onAssignment(task.taskId)">
                        <i class="mdi mdi-account-switch" style="font-size: 20px"></i>
                      </button>
                      <button class="btn btn-simple btn-danger btn-icon remove"  matTooltip="Edit" [matTooltipPosition]="'left'" (click)="onEdit(task.taskId)">
                        <i class="mdi mdi-pencil" style="font-size: 20px"></i>
                      </button>
                      <button class="btn btn-simple btn-danger btn-icon remove"  matTooltip="Remove" [matTooltipPosition]="'left'" (click)="onDelete(task.taskId)">
                        <i class="mdi mdi-delete-empty" style="font-size: 20px"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>                    
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>
