<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card wizard-card">
          <form [formGroup]="taskForm">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">mail_outline</i>
            </div>
            <div class="card-content">
              <div>
                <h4 class="card-title">{{formTitle}}</h4>
              </div>
              <div class="col-md-12">
                <div class="form-group label-floating" [ngClass]="displayFieldCss(taskForm, 'taskName')">
                  <label class="control-label" for="name">Task Name:
                    <span class="star">*</span>
                  </label>
                  <input type="text" id="name" class="form-control" formControlName="taskName">
                  <app-field-error-display [displayError]="isFieldValid(taskForm, 'taskName')" errorMsg="Project name is required.">
                  </app-field-error-display>
                </div>
                <div class="form-group label-floating">
                  <label class="control-label" for="description">Task Description: </label>
                  <input type="text" id="description" class="form-control" formControlName="taskDescription">
                </div>
                <div class="form-group label-floating">
                  <label class="control-label" for="location">Location Name: </label>
                  <input type="text" id="location" class="form-control" formControlName="locationName">
                </div>
                <div class="card">
                  <div class="card-content">
                      <h4 class="card-title">Pick Task Location</h4>
                      <p-gmap [options]="mapOptions" [style]="{'width':'100%','height':'320px'}" 
                        [overlays]="mapOverlays" (onOverlayDragEnd)="handleDragEnd($event)">
                      </p-gmap>
                  </div>
                </div>
                

                <div class="form-footer text-right">
                  <!--
                        <div class="checkbox pull-left">
                          <label>
                            <input type="checkbox" name="optionsCheckboxes" formControlName="optionsCheckboxes"> Subscribe to newsletter
                          </label>
                        </div>
                        -->
                  <div class="form-group">
                    <button type="submit" class="btn btn-rose btn-fill btn-wd" (click)="onSave()">Save Task</button>
                    <button type="button" class="btn btn-rose btn-fill btn-wd" (click)="onCancel()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>