<div class="wrapper wrapper-full-page">
    <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/dashboard">ESRI Surveyor</a>
            </div>
        </div>
    </nav>
    <div class="full-page login-page" filter-color="black">
        <!--  you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form  [formGroup]="login">
                            <div class="card card-login card-hidden">
                                <div class="card-header text-center" data-background-color="rose">
                                    <h4 class="card-title">Login</h4>
                                </div>
                                <div class="card-content">
                                    <div *ngIf="authErrorMessage">
                                        <p class="text-danger text-center"><strong>{{ authErrorMessage }}</strong></p>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">account_circle</i>
                                        </span>
                                        <div class="form-group label-floating"  [ngClass]="displayFieldCss(login, 'username')">
                                            <label class="control-label">Username
                                                <span class="star">*</span>
                                            </label>
                                            <input id="username" 
                                            type="text" 
                                            class="form-control" 
                                            formControlName="username"
                                            [(ngModel)]="model.username">
                                            <app-field-error-display [displayError]="isFieldValid(login, 'username')" errorMsg="Username is required!">
                                            </app-field-error-display>
                                        </div>
                                        </div>
                                    
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating" [ngClass]="displayFieldCss(login, 'password')">
                                                <label class="control-label">Password
                                                    <span class="star">*</span>
                                                </label>
                                                <input id="password" 
                                                type="password" 
                                                class="form-control" 
                                                formControlName="password" 
                                                [(ngModel)]="model.password">
                                                <app-field-error-display [displayError]="isFieldValid(login, 'password')" errorMsg="Password is required!">
                                                </app-field-error-display>
                                            </div>
                                        </div>

                                    <p></p>
                                    <div class="category form-category">
                                        <span class="star">*</span> Required fields
                                    </div>
                                </div>
                                
                                <div class="footer text-center">
                                    <button type="submit" [disabled]="loading" class="btn btn-rose btn-simple btn-wdtn-lg" (click)="onLogin()">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="copyright pull-right">
                    &copy;
                   2017 
                    <a href="https://www.creative-tim.com">Creative Tim</a>
                </p>
            </div>
        </footer>
        <div class="full-page-background" style="background-image: url(../../../assets/img/login.jpeg) "></div>
    </div>
</div>
