<div class="main-content">
    <div class="container-fluid">
        <input type="hidden" [(ngModel)]="projectId" id="hd-project-id"/>
        <input type="hidden" [(ngModel)]="tabIndex" id="hd-tab-index"/>
        <div class="col-sm-10 col-sm-offset-1">
            <!--      Wizard container        -->
            <div class="wizard-container">
                <div class="card wizard-card" data-color="rose" id="wizardProfile">
                    <form action="" method="">
                        <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                        <div class="wizard-header">
                            <h3 class="wizard-title">

                            </h3>

                        </div>
                        <div class="wizard-navigation">
                            <ul>
                                <li>
                                    <a href="#task" data-toggle="tab">Isi Penugasan</a>
                                </li>
                                <li>
                                    <a href="#location" data-toggle="tab">Pilih Lokasi</a>
                                </li>
                                <li>
                                    <a href="#officers" data-toggle="tab" (click)="onNext()">Pilih Petugas</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane" id="task">
                                <div class="row">
                                    <h4 class="info-text"> Berikan ringkasan penugasan yang mendeskripsikan tugas yang perlu dilakukan.</h4>
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">build</i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Nama Penugasan
                                                        <small>(required)</small>
                                                    </label>
                                                    <input name="taskName" type="text" class="form-control" [(ngModel)]="task.taskName">
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">view_headline</i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Deskripsi Penugasan
                                                        <small>(required)</small>
                                                    </label>
                                                    <textarea name="taskDescription" class="form-control" rows="2" [(ngModel)]="task.taskDescription"></textarea>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">add_location</i>
                                                </span>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Nama Lokasi
                                                        <small>(required)</small>
                                                    </label>
                                                    <input name="taskLocation" type="text" class="form-control" [(ngModel)]="task.locationName">
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">done_all</i>
                                                </span>
                                                <div class="form-group">
                                                    <mat-form-field>
                                                        <mat-select placeholder="Prioritas" name="priority" [(ngModel)]="task.priority">
                                                            <mat-option value="Tidak Ada">Tidak Ada</mat-option>
                                                            <mat-option value="Rendah">Rendah</mat-option>
                                                            <mat-option value="Rendah">Sedang</mat-option>
                                                            <mat-option value="Rendah">Tinggi</mat-option>
                                                            <mat-option value="Rendah">Penting</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="input-group" style="padding-left: 5px;">

                                                <mat-datepicker-toggle matSuffix [for]="resultPicker"></mat-datepicker-toggle>
                                                <mat-input-container>
                                                    <input name="dueDate" matInput [matDatepicker]="resultPicker" placeholder="Pilih due date" [(ngModel)]="task.dueDate">
                                                </mat-input-container>
                                                <mat-datepicker #resultPicker [touchUi]="touch" [startView]="'month'"></mat-datepicker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="location">

                                <div class="row">
                                    <h4 class="info-text">Pilih lokasi penugasan yang akan menjadi titik kejadian peristiwa</h4>
                                    <div class="col-lg-10 col-lg-offset-1">
                                        <iframe [src]='getIframeEsriUrl()' allowfullscreen frameborder="0" id="esri-frame">
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="officers">
                                <h4 class="info-text">
                                    Pilih petugas lapangan, diurutkan dari yang terdekat ke yang terjauh. Silahkan pilih petugas atau klik auto untuk memilih
                                    secara otomatis 10 petugas terdekat
                                </h4>
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1">
                                        <div class="material-datatables table-responsive">
                                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-no-bordered table-hover">
                                                <thead class="text-primary">
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>Petugas Lapangan</th>
                                                        <th>Jarak (Km)</th>
                                                        <th>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" name="allAssign" (click)="selectUnselectAll($event)">
                                                                </label>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngIf="!members || members.length == 0">
                                                        <td colspan="4">
                                                            <p class="text-danger text-center align-middle">Belum ada member yang diassign untuk kategori ini</p>
                                                        </td>
                                                    </tr>
                                                    <tr *ngFor="let member of members; let i = index">
                                                        <td style="width: 10%">{{ i + 1 }}</td>
                                                        <td>{{ member.user.fullname }}</td>
                                                        <td *ngIf="member.distance != 0">{{ member.distance/1000 | number }}</td>
                                                        <td *ngIf="member.distance == 0">N/A</td>
                                                        <td style="width: 20%">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" name="assign" [(ngModel)]="member.assigned">
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="wizard-footer">
                            <div class="pull-right">
                                <input type='button' class='btn btn-auto btn-fill btn-rose btn-wd' name='auto' value='Auto' (click)="onAuto()"/>
                                <input type='button' class='btn btn-next btn-fill btn-rose btn-wd' name='next' value='Next' (click)="onNext()"/>
                                <input type='button' class='btn btn-finish btn-fill btn-rose btn-wd' name='finish' value='Finish' (click)="onFinish()" />
                            </div>
                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- wizard container -->
        </div>
    </div>
</div>