<div class="card">
  <div class="card-content">
    <div class="row">
      <span class="pull-right">
        <button class="btn btn-simple btn-icon remove" matTooltip="Edit" [matTooltipPosition]="'left'" (click)="edit()"
          style="margin: 0; padding: 0">
          <i class="mdi mdi-pencil" style="font-size: 20px"></i>
        </button>
        <button class="btn btn-simple btn-icon remove" matTooltip="Delete" [matTooltipPosition]="'left'" (click)="delete()"
          style="margin: 0; padding: 0">
          <i class="mdi mdi-delete-empty" style="font-size: 20px"></i>
        </button>
      </span>
    </div>
    <div class="row">
      <div class="form-group label-floating is-empty is-focused">
        <label class="control-label" for="title">{{ question.title }}
          <span *ngIf="question.required" class="star">*</span>
        </label>
        <textarea id="title" class="form-control" readonly rows="4"></textarea>
      </div>
    </div>
  </div>
</div>