<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card wizard-card">
          <form #taskForm="ngForm">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">build</i>
            </div>
            <div class="card-content">
              <div>
                <h4 class="card-title">Buat Penugasan</h4>
              </div>
              <div class="col-md-12">
                <div class="form-group label-floating">
                  <label class="control-label" for="taskName">Nama Penugasan:
                    <span class="star">*</span>
                  </label>
                  <input type="text" id="taskName" name="taskName" class="form-control" required [(ngModel)]="task.taskName">
                </div>
                <div class="form-group label-floating">
                  <label class="control-label" for="description">Deskripsi: </label>
                  <textarea id="description" name="description" class="form-control" rows="2" [(ngModel)]="task.taskDescription"></textarea>
                </div>
                <div class="form-group label-floating">
                  <label class="control-label" for="locationName">Nama Lokasi:
                    <span class="star">*</span>
                  </label>
                  <input type="text" id="locationName" name="locationName" class="form-control" required [(ngModel)]="task.locationName">
                </div>
                <div class="form-group">
                  <mat-form-field>
                    <mat-select placeholder="Prioritas" name="priority" [(ngModel)]="task.priority">
                      <mat-option value="Tidak Ada">Tidak Ada</mat-option>
                      <mat-option value="Rendah">Rendah</mat-option>
                      <mat-option value="Rendah">Sedang</mat-option>
                      <mat-option value="Rendah">Tinggi</mat-option>
                      <mat-option value="Rendah">Penting</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-datepicker-toggle matSuffix [for]="resultPicker"></mat-datepicker-toggle>
                  <mat-input-container>
                    <input name="dueDate" matInput [matDatepicker]="resultPicker" placeholder="Pilih due date" [(ngModel)]="task.dueDate">
                  </mat-input-container>
                  <mat-datepicker #resultPicker [touchUi]="touch" [startView]="'month'"></mat-datepicker>
                </div>
                <div>
                  <button class="btn btn-rose btn-fill btn-wd btn-sm" (click)="onSave()">Save</button>
                  <button class="btn btn-rose btn-fill btn-wd btn-sm" (click)="onCancel()">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      
      <div class="col-md-8">
        <div class="card wizard-card">
          <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">location_on</i>
          </div>
          <div class="card-content">
            <div>
              <h6 class="card-title">Cari dan klik di peta untuk menandai lokasi penugasan</h6>
            </div>
            <iframe [src]='getIframeEsriUrl()' width="600" height="440" allowfullscreen frameborder="0" id="esri-frame">
            </iframe>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>