<div class="main-content" id="main-content">
  <div class="container-fluid">
    <h6 class="title-label">{{projectName}}</h6>
    <div class="md-container">
    <div class="row">
      <div class="col-md-4 no-float" style="padding-right: 5px;">
        <div class="card">
          <div class="card-content-no-padding" style="overflow-y: auto;" [style.height.px]="divHeight">
            <div class="toolbar" style="padding: 10px 0 0 10px;">
              <button class="btn btn-primary btn-sm" (click)="createTask()">Buat Penugasan</button>
            </div>
            <div class="content table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="!tasks || tasks.length == 0"> 
                    <td colspan="2">
                      <p class="text-danger text-center align-middle">Belum ada penugasan</p>
                    </td>
                  </tr>
                  <tr *ngFor="let task of tasks">
                    <td>
                      <h6 style="font-weight: bold; margin-top: 0px; margin-bottom: 0px; cursor: pointer" 
                        (click)="onTitleClick(task.taskId)">{{ task.taskName }} 
                        <span *ngIf="task.locationName">{{ task.locationName }})</span>
                      </h6>
                      <div style="margin-bottom: 10px">{{ task.taskDescription }}</div>
                      <div *ngIf="task.dueDate">
                        <i class="material-icons" style="margin-right: 15px;">access_time</i>{{ task.dueDate | date:'dd/MM/yyyy' }} 
                      </div>
                    </td>
                    <td>
                      <i *ngIf="task.assignment.length == 0" class="mdi mdi-alarm-light blink" style="font-size: 20px; color: red"></i>
                      <i class="mdi mdi-account-multiple-plus" style="font-size: 22px; color: blue; cursor: pointer" (click)="gotoAssignment(task.taskId)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 no-float" style="padding-left: 5px;">
        <div class="card">
          <div class="card-content-no-padding">
            <iframe [src]='getIframeEsriUrl()' width="100%" allowfullscreen frameborder="0" id="esri-frame" [style.height.px]="divHeight">
            </iframe>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>