<mat-dialog-content>
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <img [src]="theImage" />
        </div>
        <!-- end col-md-12 -->
      </div>
      <!-- end row -->
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onDialogClose()" class="btn btn-rose btn-fill btn-wd">Cancel</button>
</mat-dialog-actions>