<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">assignment</i>
          </div>
          <h4 class="card-title">Penugasan</h4>
          <p class="category">Pilih petugas lapangan atau pilih auto untuk memilih 10 petugas terdekat</p>
          <div class="card-content">
            <div class="material-datatables table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" 
                    class="table table-striped table-no-bordered table-hover">
                <thead class="text-primary">
                  <tr>
                    <th>No.</th>
                    <th>Petugas Lapangan</th>
                    <th>Jarak</th>
                    <th >
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="allAssign" (click)="selectUnselectAll($event)">
                        </label>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="!members || members.length == 0"> 
                    <td colspan="4">
                      <p class="text-danger text-center align-middle">Belum ada member yang diassign untuk kategori ini</p>
                    </td>
                  </tr>
                  <tr *ngFor="let member of members; let i = index">
                    <td style="width: 10%">{{ i + 1 }}</td>
                    <td>{{ member.user.fullname }}</td>
                    <td>N/A</td>
                    <td style="width: 20%">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="assign" [(ngModel)]="member.assigned">
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>
                <button class="btn btn-rose btn-fill btn-wd btn-sm" (click)="onSave()">Save</button>
                <button class="btn btn-rose btn-fill btn-wd btn-sm" (click)="onCancel()">Cancel</button>
                <!--
                <div class="pull-right">
                  <button class="btn btn-rose btn-fill btn-wd btn-sm" (click)="onCancel()">Auto</button>
                </div>
                -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>