<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let project of projects; let i = index">
                <div class="card card-stats">
                    <div class="card-header card-header-project" [attr.data-background-color]="getColor(i)" style="cursor: pointer" 
                        (click)="gotoTasks(project)">
                        <!-- <i class="material-icons">weekend</i> -->
                        <img src="../../assets/img/default-icon.png" style="width: 80px; height: 80px; padding: 5px;" *ngIf="!project.icon"/>
                        <img [src]="getProjectIcon(project)" style="width: 90px; height: 90px;;" *ngIf="project.icon"/>
                    </div>
                    <div class="card-content">
                        <p class="category" style="font-size: larger; font-weight: bold">{{project.projectName}}</p>
                        <h3 class="card-title">{{ project.numOfNewTasks }} / {{ project.numOfTasks }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">reorder</i>
                            <a (click)="gotoTasks(project)" style="cursor: pointer">Lihat Detil...</a>
                        </div>
                        <div class="stats pull-right">
                            <i class="material-icons text-danger">settings</i>
                            <a (click)="gotoEdit(project)" style="cursor: pointer">Konfigurasi</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="card-content">
                    <button class="btn btn-block btn-square-lg" (click)="createProject()">
                        <i class="mdi mdi-plus mdi-48px"></i>
                    </button>
                </div>
                
            </div>
        </div>
    </div>
</div>