<div class="main-content" id="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-4" style="padding-right: 5px">
            <div class="card wizard-card" [style.height.px]="divHeight">
    
              <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">build</i>
              </div>
              <div class="card-content">
                <div class="col-md-12">
                  <div class="form-group label-floating">
                    <span class="text-primary">
                      <span style="font-weight: bold">Penugasan: </span>{{ task.taskName}}
                    </span>
                  </div>
                  <div class="form-group label-floating">
                    <span class="text-primary">
                      <span style="font-weight: bold">Deskripsi: </span>{{ task.taskDescription }}
                    </span>
                  </div>
                  <div class="form-group label-floating">
                    <span class="text-primary">
                      <span style="font-weight: bold">Nama Lokasi: </span>{{ task.locationName }}
                    </span>
                  </div>
                  <div class="form-group label-floating">
                      <span class="text-primary">
                        <span style="font-weight: bold">Prioritas: </span>{{ task.priority }}
                      </span>
                  </div>
                  <div class="form-group label-floating">
                      <span class="text-primary">
                        <span style="font-weight: bold">Due date: </span>{{ task.dueDate | date: 'dd/MM/yyyy' }}
                    </span>
                  </div>
                  <div class="form-group label-floating">
                      <span class="text-primary">
                        <span style="font-weight: bold">Jumlah yang bertugas: </span>{{ task.numOfAssignments }}
                      </span>
                  </div>
                  <div class="form-group label-floating">
                    <span class="text-primary">
                      <span style="font-weight: bold">Gambar yang di upload:</span>
                    </span>
                  </div>
                  <div class="col-md-12">
                    <div class="col-md-6" *ngFor="let image of images; let i = index">
                      <img [src]="getImageAt(i)" (click)="openImage(i)"/>
                    </div>
                  </div>
                  <div *ngIf="projectId">
                      <button class="btn btn-rose btn-fill btn-wd btn-sm" (click)="onBackClick()">Kembali</button>
                    </div>
                </div>
              </div>
    
            </div>
          </div>
      <div class="col-md-8" style="padding-left: 5px">
        <div class="card wizard-card" [style.height.px]="divHeight">
          <div class="card-header card-header-icon" data-background-color="rose" style="padding-top: 10px;">
            <i class="material-icons">location_on</i>
          </div>
          <div class="card-content-no-padding" style="height: 100%;padding-top: 20px;">
            <div>
              <h6 class="card-title">Detail & Lokasi Penugasan</h6>
            </div>
            <iframe [src]='getIframeEsriUrl()' style="position:relative;top:0px;width:100%;height:65vh;" allowfullscreen frameborder="0" id="esri-frame">
            </iframe>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>