<div class="main-content">
    <div class="container-fluid">
        <div class="col-sm-10 col-sm-offset-1">
            <!--      Wizard container        -->
            <div class="wizard-container">
                <div class="card wizard-card" data-color="rose" id="wizardProfile">
                    <form action="" method="">
                        <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                        <div class="wizard-header">
                            <h3 class="wizard-title">

                            </h3>

                        </div>
                        <div class="wizard-navigation">
                            <ul>
                                <li>
                                    <a href="#project" data-toggle="tab">Kategori</a>
                                </li>
                                <li>
                                    <a href="#members" data-toggle="tab">Pengguna</a>
                                </li>
                                <li>
                                    <a href="#forms" data-toggle="tab">Forms</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane" id="project">
                                <div class="row">
                                    <h4 class="info-text"> Berikan ringkasan untuk kategori Anda yang menjelaskan kegunaannya nanti.</h4>
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div class="picture-container">
                                                    <div class="picture-icon">
                                                        <img src="../../assets/img/default-icon.png" class="picture-src" id="photoPreview" title="" />
                                                        <input type="file" id="photo-picture">
                                                    </div>
                                                    <h6>Choose Icon</h6>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">business</i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Project Name
                                                            <small>(required)</small>
                                                        </label>
                                                        <input name="projectName" type="text" class="form-control" [(ngModel)]="project.projectName">
                                                    </div>
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">view_headline</i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Project Description</label>
                                                        <textarea name="projectDescription" class="form-control" rows="4" [(ngModel)]="project.projectDescription"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="members">
                                <p class="info-text" style="padding: 0px 20px; text-align: left !important">
                                    Tambahkan pengguna ke ketagori ini. Peran Pekerja Mobile adalah untuk pengguna yang akan mengerjakan dan menyelesaikan tugas
                                    di lapangan. Peran Dispatcher adalah untuk pengguna yang bertanggung jawab untuk membuat
                                    dan menugaskan pekerjaan
                                </p>
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1">
                                        <button class="btn btn-secondary btn-sm" (click)='onMemberAdd()'>
                                            <i class="material-icons">add</i>Dispatcher/Petugas Lapangan
                                        </button>
                                    </div>
                                </div>
                                <div class="row" style="padding: 10px 30px">
                                    <hr style='border-top: 1px dashed #8c8b8b;'>
                                </div>

                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1">
                                        <div class="content table-responsive">
                                            <table class="table">
                                                <thead class="text-primary">
                                                    <tr>
                                                        <th>Pengguna</th>
                                                        <th class="text-center">Dispatcher</th>
                                                        <th class="text-center">Petugas Lapangan</th>
                                                        <th>&nbsp;</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let row of members">
                                                        <td style="width: 33%">{{ row.fullname }}</td>
                                                        <td class="text-center" style="width: 33%">
                                                            <span *ngIf="row.dispatcher">
                                                                <i class="material-icons">done</i>
                                                            </span>
                                                        </td>
                                                        <td class="text-center" style="width: 33%">
                                                            <span *ngIf="row.surveyor">
                                                                <i class="material-icons">done</i>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-secondary btn-sm" (click)='onMemberRemove(row)'>
                                                                <i class="material-icons">clear</i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="forms">
                                <h4 class="info-text">
                                    Buat form yang akan ditampilkan di aplikasi mobile petugas lapangan.
                                </h4>
                                <div class="row">
                                    <div class="col-lg-4 col-lg-offset-1">
                                        <div class="dropdown">
                                            <button href="#pablo" class="dropdown-toggle btn btn-primary btn-block" data-toggle="dropdown">Buat Pertanyaan
                                                <b class="caret"></b>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-left">
                                                <li class="dropdown-header">Pilih jenis pertanyaan yang akan dibuat</li>
                                                <li>
                                                    <a [routerLink]="" (click)="onTextQuestionAdd('text')">Text</a>
                                                </li>
                                                <li>
                                                    <a [routerLink]="" (click)="onTextQuestionAdd('textarea')">Text Area</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a [routerLink]="" (click)="onTextQuestionAdd('checkbox')">Checkbox</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a [routerLink]="" (click)="onTextQuestionAdd('radio')">radio</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-lg-offset-1">
                                        <div class="checkbox checkbox-inline">
                                            <label>
                                                <input type="checkbox" name="image" [(ngModel)]="project.imageRequired">
                                                <span class="text-primary">image diperlukan untuk form</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-content">
                                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-default" *ngFor="let question of questions; let i = index">
                                                        <div class="panel-heading" role="tab" id="headingOne">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                <h4 class="panel-title">
                                                                    Pertanyaan #{{ i + 1 }}
                                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                                </h4>
                                                            </a>
                                                        </div>
                                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                            <div class="panel-body">
                                                                <span *ngIf="(question.type === 'text' || question.type === 'textarea') && (question.mode === 'edit' || question.mode === 'insert')">
                                                                    <app-form-textedit [index]="i" [question]="question" (onQuestionCancel)="onQuestionCancel($event)" (onQuestionSave)="onQuestionSave($event)">
                                                                    </app-form-textedit>
                                                                </span>
                                                                <span *ngIf="question.type === 'text' && question.mode === 'view'">
                                                                    <app-form-textview [question]="question" (onDeleteQuestion)="onDeleteQuestion($event)" (onEditQuestion)="onEditQuestion($event)">
                                                                    </app-form-textview>
                                                                </span>
                                                                <span *ngIf="question.type === 'textarea' && question.mode === 'view'">
                                                                    <app-form-textareaview [question]="question" (onDeleteQuestion)="onDeleteQuestion($event)" (onEditQuestion)="onEditQuestion($event)">
                                                                    </app-form-textareaview>
                                                                </span>
                                                                <span *ngIf="question.type === 'radio' && (question.mode === 'edit' || question.mode === 'insert')">
                                                                    <app-form-radioedit [index]="i" [question]="question" (onQuestionCancel)="onQuestionCancel($event)" (onQuestionSave)="onQuestionSave($event)">
                                                                    </app-form-radioedit>
                                                                </span>
                                                                <span *ngIf="question.type === 'radio' && question.mode === 'view'">
                                                                    <app-form-radioview [question]="question" (onDeleteQuestion)="onDeleteQuestion($event)" (onEditQuestion)="onEditQuestion($event)">
                                                                    </app-form-radioview>
                                                                </span>
                                                                <span *ngIf="question.type === 'checkbox' && (question.mode === 'edit' || question.mode === 'insert')">
                                                                    <app-form-checkboxedit [index]="i" [question]="question" (onQuestionCancel)="onQuestionCancel($event)" (onQuestionSave)="onQuestionSave($event)">
                                                                    </app-form-checkboxedit>
                                                                </span>
                                                                <span *ngIf="question.type === 'checkbox' && question.mode === 'view'">
                                                                    <app-form-checkboxview [question]="question" (onDeleteQuestion)="onDeleteQuestion($event)" (onEditQuestion)="onEditQuestion($event)">
                                                                    </app-form-checkboxview>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wizard-footer">
                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-fill btn-rose btn-wd' name='next' value='Next' />
                                <input type='button' class='btn btn-finish btn-fill btn-rose btn-wd' name='finish' value='Finish' (click)="onFinish()" />
                            </div>
                            <div class="pull-left">
                                <button class="btn btn-simple btn-success btn-icon remove" matTooltip="Delete Kategori" (click)="delete()">
                                    <i class="mdi mdi-delete" style="font-size: 30px"></i>
                                </button>
                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- wizard container -->
        </div>
    </div>
</div>