<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card wizard-card">
          <form [formGroup]="passwordForm">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">extension</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Change Password</h4>
              <div class="form-group label-floating" [ngClass]="displayFieldCss(passwordForm, 'oldPassword')">
                <label class="control-label" for="oldPassword">Old Password:
                  <span class="star">*</span>
                </label>
                <input type="text" id="oldPassword" class="form-control" formControlName="oldPassword">
                <app-field-error-display [displayError]="isFieldValid(passwordForm, 'oldPassword')" errorMsg="Old Password is required.">
                </app-field-error-display>
              </div>
              <div class="form-group label-floating" [ngClass]="displayFieldCss(passwordForm, 'newPassword1')">
                <label class="control-label" for="newPassword1">New Password:
                  <span class="star">*</span>
                </label>
                <input type="text" id="newPassword1" class="form-control" formControlName="newPassword1">
                <app-field-error-display [displayError]="isFieldValid(passwordForm, 'newPassword1')" errorMsg="New Password is required.">
                </app-field-error-display>
              </div>
              <div class="form-group label-floating" [ngClass]="displayRetypeFieldCss(passwordForm, 'newPassword2')">
                <label class="control-label" for="newPassword2">Retype New Password:
                  <span class="star">*</span>
                </label>
                <input type="text" id="newPassword2" class="form-control" formControlName="newPassword2">
                <app-field-error-display [displayError]="isRetypeFieldValid(passwordForm, 'newPassword2')" errorMsg="Please retype new password.">
                </app-field-error-display>
              </div>


              <div class="category form-category">
                <span class="star">*</span> Required fields</div>
              <div class="form-footer text-right">
                <div class="form-group">
                  <button type="submit" class="btn btn-rose btn-fill btn-wd" (click)="onSave()">Change Password</button>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>