<footer class="footer">
    <div class="container-fluid">
        <p class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}
            <a href="https://www.creative-tim.com">Creative Tim</a>
        </p>
    </div>
</footer>
