<div class="card">
  <div class="card-content">
    <div class="row">
      <div class="form-group">
        <label class="control-label">Pertanyaan:
          <span class="star">*</span>
        </label>
        <input type="text" class="form-control" [(ngModel)]="question.title" required>
      </div>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="requiredCB" [(ngModel)]="question.required"> Field Required
      </label>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-rose btn-fill btn-wd btn-sm" (click)="save()">Save</button>
      <button type="button" class="btn btn-rose btn-fill btn-wd btn-sm" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>