<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form [formGroup]="register">
                        <div class="card-header card-header-icon" data-background-color="rose">
                            <i class="material-icons">mail_outline</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Register Forms</h4>
                            <div class="form-group label-floating"  [ngClass]="displayFieldCss(register, 'email')">
                                <label class="control-label" for="email">Email Address:
                                    <span class="star">*</span>
                                </label>
                                <input type="text" id="email" class="form-control" formControlName="email"
                                 pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                <app-field-error-display [displayError]="isFieldValid(register, 'email')" errorMsg="Email is required and format should be john@doe.com.">
                                </app-field-error-display>
                            </div>
                            <div class="form-group label-floating" [ngClass]="displayFieldCss(register, 'password')">
                                <label  for="" class="control-label">Password
                                    <span class="star">*</span>
                                </label>
                                <input type="password"
                                id="password"
                                class="form-control"
                                formControlName="password">
                                <app-field-error-display [displayError]="isFieldValid(register, 'password')" errorMsg="Enter a valid password.">
                                </app-field-error-display>
                            </div>

                            <div class="form-group label-floating" [ngClass]="displayFieldCss(register, 'confirmPassword')">
                                <label for="" class="control-label">Confirm Password
                                    <span class="star">*</span>
                                </label>
                                  <input
                                    type="password"
                                    class="form-control"
                                    id="confirmPassword"
                                    formControlName="confirmPassword">
                                    <app-field-error-display
                                     [displayError]="isFieldValid(register, 'confirmPassword')" errorMsg="These passwords don't match. Try again!">
                                    </app-field-error-display>
                            </div>
                            <div class="category form-category">
                                <span class="star">*</span> Required fields</div>
                            <div class="form-footer text-right">
                                <div class="checkbox pull-left">
                                    <label>
                                        <input type="checkbox" name="optionsCheckboxes" formControlName="optionsCheckboxes"> Subscribe to newsletter
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-rose btn-fill btn-wd" (click)="onRegister()">Register</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card">
                    <form [formGroup]="login">
                        <div class="card-header card-header-icon" data-background-color="rose">
                            <i class="material-icons">mail_outline</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Login Forms</h4>
                            <div class="form-group label-floating" [ngClass]="displayFieldCss(login, 'email')">
                                <label class="control-label" for="email">Email Address:
                                    <span class="star">*</span>
                                </label>
                                <input type="text" id="email" class="form-control" formControlName="email"
                                 pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                <app-field-error-display [displayError]="isFieldValid(login, 'email')" errorMsg="Email is required and format should be john@doe.com.">
                                </app-field-error-display>
                            </div>
                            <div class="form-group label-floating" [ngClass]="displayFieldCss(login, 'password')">
                                <label  for="" class="control-label">Password
                                    <span class="star">*</span>
                                </label>
                                <input type="password"
                                id="password"
                                class="form-control"
                                formControlName="password">
                                <app-field-error-display [displayError]="isFieldValid(login, 'password')" errorMsg="Enter a valid password.">
                                </app-field-error-display>
                            </div>

                            <div class="category form-category">
                                <span class="star">*</span> Required fields</div>
                            <div class="form-footer text-right">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-rose btn-fill btn-wd" (click)="onLogin()">Login</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <form [formGroup]="type" class="form-horizontal">
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">Type Validation</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Required Text</label>
                                <div class="col-sm-7">
                                    <div class="form-group label-floating" [ngClass]="displayFieldCss(type, 'text')">
                                        <label class="control-label"></label>
                                        <input type="text" id="text" class="form-control" formControlName="text">
                                        <app-field-error-display [displayError]="isFieldValid(type, 'text')" errorMsg="Required text">
                                        </app-field-error-display>
                                    </div>
                                </div>
                                <label class="col-sm-3 label-on-right">
                                    <code>required</code>
                                </label>
                            </div>
                            <div class="row">

                                <label class="col-sm-2 label-on-left">Email</label>

                                <div class="col-sm-7">
                                    <div class="form-group label-floating"  [ngClass]="displayFieldCss(type, 'email')">
                                        <label class="control-label"></label>
                                        <input type="text" id="email" class="form-control" formControlName="email"
                                         pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                        <app-field-error-display [displayError]="isFieldValid(type, 'email')" errorMsg="Email is required and format should be john@doe.com.">
                                        </app-field-error-display>
                                    </div>
                                </div>
                                <label class="col-sm-3 label-on-right">
                                    <code>email="true"</code>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Number</label>
                                <div class="col-sm-7">
                                    <div class="form-group label-floating" [ngClass]="displayFieldCss(type, 'number')">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="number" name="number" number="true" formControlName="number">
                                        <app-field-error-display [displayError]="isFieldValid(type, 'number')" errorMsg="Add a number!">
                                        </app-field-error-display>
                                    </div>
                                </div>
                                <label class="col-sm-3 label-on-right">
                                    <code>number="true"</code>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Url</label>
                                <div class="col-sm-7">
                                    <div class="form-group label-floating" [ngClass]="displayFieldCss(type, 'url')">
                                        <label class="control-label" for="url"></label>
                                        <input class="form-control" type="text" id="url" pattern="https?://.+" name="url" formControlName="url">
                                          <app-field-error-display [displayError]="isFieldValid(type, 'url')" errorMsg="Must be a valid URL!">
                                          </app-field-error-display>
                                    </div>
                                </div>

                                <label class="col-sm-3 label-on-right">
                                    <code>url="true"</code>
                                </label>
                            </div>
                            <div class="row">

                                <label class="col-sm-2 label-on-left">Equal to</label>
                                <div class="col-sm-3">
                                    <div class="form-group label-floating column-sizing" [ngClass]="displayFieldCss(type, 'password')">
                                        <label class="control-label"></label>
                                        <input type="text"
                                            class="form-control"
                                            name="password"
                                            placeholder="#idSource"
                                            formControlName="password">
                                        <app-field-error-display [displayError]="isFieldValid(type, 'password')" errorMsg="IdSource is required">
                                        </app-field-error-display>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group label-floating column-sizing" [ngClass]="displayFieldCss(type, 'confirmPassword')">
                                        <label class="control-label"></label>
                                        <input type="text"
                                            class="form-control"
                                            name="idDestination"
                                            placeholder="#idDestination"
                                            formControlName="confirmPassword">
                                        <app-field-error-display [displayError]="isFieldValid(type, 'password')" errorMsg=" IdSource mismatch!">
                                        </app-field-error-display>
                                    </div>
                                </div>
                                <label class="col-sm-4 label-on-right">
                                    <code>equalTo="#idSource"</code>
                                </label>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-rose btn-fill" (click)="onType()">Validate Inputs</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- <div class="col-md-12">
                <div class="card">
                    <form id="RangeValidation" class="form-horizontal" action="" method="">

                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">Range Validation</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Min Length</label>
                                <div class="col-sm-7">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="text" name="min_length" minLength="5" />
                                    </div>
                                </div>
                                <label class="col-sm-3 label-on-right">
                                    <code>minLength="5"</code>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Max Length</label>
                                <div class="col-sm-7">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="text" name="max_length" maxLength="5" />
                                    </div>
                                </div>
                                <label class="col-sm-3 label-on-right">
                                    <code>maxLength="5"</code>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Range</label>
                                <div class="col-sm-7">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="text" name="range" range="[6,10]" />
                                    </div>
                                </div>
                                <label class="col-sm-3 label-on-right">
                                    <code>range="[6,10]"</code>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Min Value</label>
                                <div class="col-sm-7">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="text" name="min" min="6" />
                                    </div>
                                </div>
                                <label class="col-sm-3 label-on-right">
                                    <code>min="6"</code>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Max Value</label>
                                <div class="col-sm-7">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="text" name="max" max="6" />
                                    </div>
                                </div>
                                <label class="col-sm-3 label-on-right">
                                    <code>max="6"</code>
                                </label>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-rose btn-fill">Validate Inputs</button>
                        </div>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
</div>
